# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# Data files
*.csv
*.h5
*.hdf5
*.npz
*.npy

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files
*.pth
*.pt
*.pb
*.onnx
model.keras
backend/model.keras

# Images (optional, if you don't want to track raw images)
*.jpg
*.jpeg
*.png
*.tif
*.tiff